
/* font-family: 'Fira Sans', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Roboto Mono', monospace; */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }

body {
    background-color: rgb(10 25 47);
    position: relative;
}


/* Header Begin */
.logo{
    width: 100px;
    height: 70px;
}
header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color:rgb(10 25 47) ;
}

.harburger {
    display: none;
}

.nav-bar ul {
    display: flex;
}

.nav-bar ul li a {
    display: block;
    color: #fefefe;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
}

.nav-bar ul li a:hover {
    color: rgb(10 25 47);
    background-color: #fefefe;
}

/* Header end */
.intro-section{
    width: 100%;
    max-width: 900px;
    margin: 50px auto;
    min-height:100vh;
    color: white;
}
.intro{
    color: rgb(219 39 119);
}
.intro-section h1{
    font-size: 65px;
    color: rgb(204 214 246);
}
.intro-section h2{
    color: rgb(136 146 176);
    font-size: 50px;
    font-family: 'Fira Sans', sans-serif;
    letter-spacing: 1.5;

}
.intro-details{
    max-width: 700px;
    padding: 10px 0;
    color: #fefefe;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}
.work-btn{
    width: 150px;
    padding: 10px;
    background-color: transparent;
    border: 3px solid #fefefe;
    color: #fefefe;
    font-size: 16px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #fefefe;
    transition: ease-in-out 0.3s;
    font-size: 20px;
}
.work-btn:hover{
    box-shadow: inset 150px 0 0 0 #fefefe;
    color: rgb(10 25 47);
}
#about-container{
    width: 100%;
    max-width: 900px;
    margin: 50px auto;
    min-height: 100vh;
    color: white;
    display: flex;
    margin-top: 150px;
    color:  rgb(209 213 219);
    padding: 150px 0;
}
.about-intro{
    padding-right: 30px;
    text-align: right;
   
}
.about-intro p{
    padding-top: 30px;
    font-size: 32px;
}
.about-intro h2{
    font-size: 30px;
    color: rgb(219 39 119);
}
.profile{
    width: 700px;
    padding-top: 65px;
    text-align: justify;
}

#skils{
    padding-top: 95px;
    width: 100%;
    max-width: 900px;
    min-height: 100vh;
    margin: 0 auto;   
}
.skils-header{
    margin-bottom: 50px;
    color: #fefefe;
}
.skils-column{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 200px;
    grid-gap: 30px; 
}
.skils-col{
    box-shadow: 10px 10px 8px 3px rgb(2, 10, 23);
    border-radius: 10px;
    transition: 0.3s ease-in;  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fefefe;
}
.skils-col img{
    width: 130px;
    height: 100px;
}
.skils-col p{
    margin-top: 10px;
}
.skils-col:hover{
    transform: scale(1.1);
    cursor: pointer;
}
#contact-container{
    padding-top: 95px;
    width: 100%;
    max-width: 900px;
    height: 500px;
    margin: 50px auto;  
}
.contact-title{
    text-align: center;
    font-size: 24px;
    color: white;
}
form{
    display: flex;
    flex-direction: column;
}
input{
    width: 50%;
    margin: 10px auto;
    padding: 10px;
    outline: none;
    border-radius: 5px;
}
textarea{
    width: 100%;
    max-width: 50%;
    margin: 10px auto;
    max-height: 300px;
    padding: 10px;
    outline: none;
    border-radius: 5px;
}
[type="submit"]{
    width: 20%;
    margin: 10px auto;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    transition: 0.7s ease-in-out;
}
button:hover{
background: #111b11;
color: #fefefe;
}
@media only screen and (max-width:1024px) {
    .intro-details {
     max-width: 100%;
    }
}
@media only screen and (max-width:1100px) {

    header {
        padding: 0 30px;
    }
    .skils-column{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 200px 200px 200px;
        grid-gap: 10px; 
    }
    .intro-section {
        text-align: center;
    }
    .about-intro {
        padding-right: 20px;
    }

}

@media only screen and (max-width:767px) {
    header {
        justify-content: space-between;
    }
    .harburger {
        display: block;
        cursor: pointer;
    }

    .harburger .line {
        width: 30px;
        height: 3px;
        background-color: #fefefe;
        margin: 6px 0;
    }

    .nav-bar {
        height: 0;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background-color:#111b11;
        opacity:1;
        transition: 0.5s;
        overflow: hidden;
    }

    .nav-bar.active {
        height: 250px;
    }

    .nav-bar ul li a {
        color: #fefefe;
    }

    .nav-bar ul li a:hover {
        color: #111b11;
        background-color: #fefefe;
    }

    .nav-bar ul li a.active {
        color: #111b11;
        background-color: #fefefe;
    }

    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 50px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }

    .nav-bar.active ul {
        opacity: 1;
    }

    .nav-bar ul li a {
        margin-bottom: 12px;
    }
    .hero-banner {
        height: 400px;
        max-width: 100%;
        width: 100%;
}
#about-container{
    flex-direction: column;
    max-width: 100%;
    margin:0;
    margin-top: 50px;
    padding: 90px 0;
}
.about-intro {
    padding-right: 0;
    text-align: center;
}
.skils-column{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 200px 200px;
    grid-gap: 20px; 
}
.profile {
    width: 100%;
    padding: 30px;
    text-align: center;
}
.newsletter input{
    width: 250px;
}
.intro-section{
    width: 100%;
    max-width: 100%;
    min-height:100vh;
    margin: 0;
    color: white;
    text-align: center;
    padding-top: 20px;
}
.intro-section h1, .intro-section h2{
    font-size: 35px;
}
input{
    width: 70%;
}
textarea {
    max-width: 70%;
}
[type="submit"] {
    width: 30%;
}
}